html {
  font-size: 62.5; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row > div {
  width: 60%;
  min-width: 20rem;
}

/* Custom */
h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.2rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.element-hover:hover {
  border: 0.1rem #404040 solid;
  cursor: pointer;
}

button.primary {
  background-color: #009933;
}

button.block {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0 0 0.5rem;
}

.my-profile-form {
  margin-bottom: 4rem;
}

/* Alert */
.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

.alert-success {
  color: #20a020;
  background-color: #ffe0e0e0;
}

/* Dropdown */
.dropdown-content {
  position: absolute;
  display: none;
  left: 0;
  z-index: 1;
  margin-top: 1rem;
  background-color: #d8d8d8;
  color: #124413;
  font-size: 1rem;
}

.dropdown-content a {
  color: #124413;
  display: block;
  padding: 0.8rem 1rem 0.8rem 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  margin-top: 0;
  border: 0.1rem#d8d8d8 solid;
}

.dropdown-content li:hover {
  background-color: #ffffff;
  border: 0.1rem#124413 solid;
}

/* Table */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  min-width: 400px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009933;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  vertical-align:middle
}

.td-logo {
  padding: 12px 0 !important;
  text-align: right;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009933;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.table-buttons-container {
  display: flex;
  flex-direction: column;
}

.table-buttons-container button {
  font-size: 1rem;
  outline: none;
}

.table-buttons-container button:hover {
  border: 0.15rem #009933 solid;
}

.button-selected {
  border: 0.15rem #009933 solid;
}

.no-data {
  text-align: center;
}

.team-logo {
  max-width: 25px;
}

/* Livechat */
.livechat-container {
  width: 80vw;
  max-height: 80vh;
  margin-top: 4rem;
  border: 0.15rem #009933 solid;
  padding: 1rem;
}

.ce-chat-title {
  position: relative !important;
}

.ce-message-form-container {
  position: relative !important;
}

#ce-send-message-button,
.ce-my-message-bubble {
  background-color: #009933 !important;
}

.ce-chat-feed,
.ce-chat-feed-container {
  height: 60vh !important;
  max-height: 60vh !important;
}

.ce-feed-container-bottom {
  height: 0 !important;
}

.ce-chat-title,
.ce-feed-container-top {
  display: none !important;
}

#ce-scroll-down-bar,
#ce-connecting-popup {
  bottom: 30vh !important;
}

#ce-send-message-button {
  padding: 2px 6px !important;
}
