@media (max-width: 880px) {
    /* Layout */
    .row > div {
        width: 75%;
    }
}

@media (max-width: 570px) {
    /* Layout */
    .row > div {
        width: 90%;
    }

    /* Footer */
    .footer {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    }

    .footer p {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    /* Custom */
    .caption {
        margin: 0 !important;
    }

    /* Livechat */
    .livechat-container {
        margin-bottom: 8rem;
    }
}

@media (max-width: 500px) {
    /*ConfirmBox*/
    .confirm-box-container > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Alert */
    .alert {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    /* Layout */
    .row > div {
        width: 95%;
    }
}